<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Au bon blog{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" href="{{ asset("css.css") }}">{% endblock %}
    </head>

    <body>

    <header>{% block header %}<h1>le Bon Blog</h1>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="user-info">
            <p>
                <strong>
                    Bienvenue, <span class="text-btn">{{ app.user.username }}</span>
                </strong>
            </p>


                <a href="{{ logout_path('main') }}">deconnection</a>


            </div>

            {% endif %}


            {% if is_granted('ROLE_ADMIN') %}
                <div class="text-text">

                    <a href="{{ path ('blogs_index') }}" class="text-btn">Blogs</a>

                    <a href="{{ path ('commentaire_index') }}" class="text-btn">Commentaire</a>

                    <a href="{{ path ('article') }}" class="text-btn">BlogsUser</a>
                </div>



            {% endif %}




        {% endblock %}</header>


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
